<div class="row text-center">
    <RadzenSteps SelectedIndex="@SelectedStepIndex" NextText="" NextTitle="" PreviousText="" PreviousTitle="">
        <Steps>
            <RadzenStepsItem Text="Bước 1. Thời gian đấu thầu " Disabled>
                <!-- ... (nội dung của step 1) -->
            </RadzenStepsItem>
            <RadzenStepsItem Text="Bước 2. Máy xây dựng và thông tin chi tiết" Disabled>
                <!-- ... (nội dung của step 2) -->
            </RadzenStepsItem>
            <RadzenStepsItem Text="Bước 3. Tổng quan đấu thầu" Disabled>
                <!-- ... (nội dung của step 3) -->
            </RadzenStepsItem>
        </Steps>
    </RadzenSteps>
    <br />
    <br />
</div>

@code {
    [Parameter] public int SelectedStepIndex { get; set; }
}